
services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: red_social_hoteles
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/red_social_hoteles
      - JWT_SECRET=change_me
      - JWT_REFRESH_SECRET=refresh_secret
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]

  frontend:
    build:
      context: ./frontend-hospitech
      target: dev
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - JWT_SECRET=change_me
      - JWT_REFRESH_SECRET=refresh_secret
    depends_on:
      - backend
    volumes:
      - ./frontend-hospitech/src:/app/src
      - ./frontend-hospitech/public:/app/public
      - ./frontend-hospitech/.env:/app/.env
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]

volumes:
  mongo_data:
