services:
  - type: web
    name: hospitech-backend
    env: docker
    rootDir: backend
    plan: free
    envVars:
      - key: PORT
        value: 3000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true

  - type: web
    name: hospitech-frontend
    env: docker
    rootDir: frontend-hospitech
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: ORIGIN
        sync: false # Set to the Render URL of the frontend
